In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("C:\Users\admin\Downloads\Transactions.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (4287155179.py, line 1)

In [4]:
#Python interprets backslashes (`\`) in strings as escape characters.In your file path, the `\U` in `\Users` is being interpreted as the start of a Unicode escape sequence, causing the error.

# Fix 1: Use raw string by adding 'r' prefix
data = pd.read_csv(r"C:\Users\admin\Downloads\Transactions.csv")

# OR Fix 2: Use forward slashes instead of backslashes
# data = pd.read_csv("C:/Users/admin/Downloads/Transactions.csv"

# OR Fix 3: Use double backslashes to escape them
# data = pd.read_csv("C:\\Users\\admin\\Downloads\\Transactions.csv")

In [5]:
data.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [ ]:
data.shape

In [ ]:
data.tail()

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
correlation = data.corr()
print(correlation["isFraud"].sort_values(ascending=False))

In [ ]:
# Filter only numeric columns before calculating correlation
numeric_data = data.select_dtypes(include=['number'])
correlation = numeric_data.corr()
print(correlation["isFraud"].sort_values(ascending=False))

In [ ]:
data.type.value_counts()

In [ ]:
type= data["type"].value_counts()
transactions = type.index
quantity = type.values

import plotly.express as px

figure = px.pie(data,
                values=quantity
                ,names=transactions,
                title="Distribution of data")
figure.show()

In [ ]:
data["type"] = data["type"].replace({"CASH_OUT" : 1,
                                     "PAYMENT" : 2,
                                     "CASH_IN" : 3,
                                     "TRANSFER" : 4,
                                     "DEBIT" : 5})

In [ ]:
data["isFraud"] = data["isFraud"].replace({ 0 : "isFraud" , 1 :"Fraud"})

In [ ]:
data.head(5)

In [ ]:

x = np.array(data[["step","type","amount","oldbalanceOrg","newbalanceOrig",]])
y = np.array(data[["isFraud"]])

x_train,x_test,y_train,y_test=  train_test_split(x,y,test_size=.1, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

model1 = LogisticRegression()

model1.fit( x_train,y_train.ravel())

In [ ]:
print('LogisticRegression', model1.score(x_test,y_test))

In [ ]:
# Prediction
# step , type , amount ,oldbalanceOrg ,newbalanceOrig
features = np.array([[ 1 , 2 , 1864.28 , 21249.0 , 19384.72 ]])
print(model1.predict(features))